<%= simple_form_for([:admin,@position], :html => { :class => 'form-horizontal' }) do |f| %>
	<fieldset>
		<legend>
			<%= controller.action_name.capitalize %> Position
		</legend>
		  <div class="form-inputs">
		    <%= f.input :name %>
		    <%= f.input :notes, :input_html => {:rows => 3} %>
		    <%= f.input :min_pay %>
		    <%= f.input :max_pay %>
			<%= f.input :pay_cadence, :collection => Position::CADENCES.collect {|c| c[:name]} %>
			<%= f.input :exempt %>
		  </div>

		  <div class="form-actions">
		    <%= f.submit nil, :class => 'btn btn-primary' %>
		    <%= link_to 'Cancel', admin_positions_path, :class => 'btn' %>
		  </div>
  	</fieldset>
<% end %>
