<h1>Listing Positions</h1>

<table class="table table-striped" id="sortable_table">
  <thead>
	  <tr>
			<th>Name</th>
			<th>Notes</th>
			<th>Min Pay</th>
			<th>Max Pay</th>
			<th>Annual Min</th>
			<th>Annual Max</th>
			<th>Exempt</th>
			<th>Rank</th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
	<% @positions.each do |position| %>
	  <tr>
	    <td><%= link_to position.name, admin_position_path(position) %></td>
	    <td><%= position.notes %></td>
	    <td><%= number_to_currency position.min_pay %></td>
	    <td><%= number_to_currency position.max_pay %></td>
	    <td><%= number_to_currency position.annual_min_pay %></td>
	    <td><%= number_to_currency position.annual_max_pay %></td>
		<td><%= check_box_tag('hi', '1', position.exempt, :disabled => true) %></td>
		<td><%= best_in_place position, :rank, :type => :input, :nil => " ", :path => [:admin, position] %></td>
	    <td><%= link_to 'Edit', edit_admin_position_path(position), :class => 'btn btn-mini' %>
	    	<%= link_to 'Destroy', admin_position_path(position), confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %>
	   </td>
	  </tr>
	<% end %>
  </tbody>
</table>

<br />

<%= link_to "New Position", new_admin_position_path, :class => 'btn btn-primary'  %>
