<h2>Change My Password</h2>

<%= simple_form_for(@user, :url => account_path(@user), :html => { :class => 'form-horizontal', :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :password, :label => "New Password", :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Update", :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to "Back", :back %>
