<h1>Listing Stores</h1>

<table class="table table-striped" id="sortable_table">
  <thead>
	  <tr>
		
			<th>Name</th>
			<th>Manager</th>
			<th>Supervisor</th>
			<th>Current Employees</th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
	<% @stores.each do |store| %>
	  <tr>
	    <td><%= link_to store.name, admin_store_path(store) %></td>
		<td><%= link_to store.current_manager.person.full_name, person_path(store.current_manager.person.id) rescue nil %></td>
		<td><%= store.supervisor.full_name rescue nil %></td>
		<td><%= store.current_employees.length %></td>
	    <td><%= link_to 'Edit', edit_admin_store_path(store), :class => 'btn btn-mini' %>
	    	<%= link_to 'Destroy', admin_store_path(store), confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %>
	   </td>
	  </tr>
	<% end %>
  </tbody>
</table>

<br />

<%= link_to "New Store", new_admin_store_path, :class => 'btn btn-primary'  %>
<br>
&nbsp;

